/*----------------------------------------
Project:	beauty

Devloper:	Hady Rabie - Mohamed Salah
----------------------------------------*/
/*----------------------------------------
[Table of contents]

1. items


/*==============================
	start home
==============================*/
header{
    position: relative;
    height: 100vh;
    width: 100%;
    margin-top: 70px;
    background: url('../imag/slide2.jpg') center/cover fixed no-repeat;
}

.flex-header{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    z-index: 2;
    position: sticky;
    justify-content: flex-end;

}
/* text header */
.text-header{    
    display: flex;
    width: 100%;
    height: 100%;
    color: var(--color);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.text-header h1{
    font-size: 50px;
    font-weight: 400;
    margin: 30px 0;
    font-family: 'Droid Sans';

}
.gradient-text {
    background: linear-gradient(
      270deg,
      #b89808,
      #ff9057,
      #ffc764,
      #50e3c2,
      #7d7ba1,
      #b8e986,
      #ff4b59
    );
    background-size: 200%;
    font-size: 40px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-shift 5s cubic-bezier(0.4, 0, 0.2, 1) infinite alternate;
}

/* Define animation */
@keyframes gradient-shift {
    0% {background-position: 0%;}
    100% {background-position: 100%;}
}
.text-header p{
    color: var(--p);
    max-width: 80%;
}

/* img header */
.img-header{   
    align-items: center;
    width: 34%;
    color: var(--color);
}
.img-header .boxImg{
    display: flex;
    justify-content: flex-end;
}
.img-header img{  
    max-width: 100%; 
    width: auto;
    max-height: 80vh;
    padding: 10px 0;
    animation-name: float;
    animation: float 3s ease infinite;
  }
  @keyframes float {
        0% {transform: translateY(0);}
        50% {transform: translateY(-10px);}
        100% {transform: translateY(0);}
    }
  
/*==============================
	end  home
==============================*/


/*==============================
	start add-new
==============================*/
.add-new{
    margin: 70px 0;
}
.add-new .item{
    background: var(--cards);
    color: var(--color);
    border: 2px solid var(--background);
    height: 460px;
    text-align: center;
}
.add-new .item a{
    display: flex!important;
    flex-direction: column;
    justify-content: space-between;
    height: 95%;
}
.add-new .item a img{
    width: 95%;
    margin: auto;
    object-fit: cover;
}
/*==============================
	end add-new
==============================*/

/*==============================
 	Start About
 ==============================*/
.ext-about-wrapper{
    margin: 100px 0;
}
.ext-about-img {
    position: relative;
    text-align: left;
}

.ext-about-img img {
    position: relative;
    z-index: 1;
}

.ext-about-img-small {
    position: relative;
    float: right;
    margin-top: -250px;
    padding: 50px 0 0 50px;
}

.ext-about-img-small:after {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    right: 0;
    background: transparent;
    border: 5px solid var(--color2);
    z-index: 0;
}

.ext-about-img-inner>img {
    width: calc(100% - 15%);
    float: left;
    min-height: 290px;
    max-height: 300px;
    object-fit: cover;
}

.ext-about-img-small img {
    width: calc(75% - 15%);
    bottom: -70px;
    left: 70px;
    min-height: 250px;
    max-height: 230px;
    object-fit: cover;
}

.video-icon {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    text-align: center;
    position: absolute;
    bottom: 5%;
    left: 50%;
    z-index: 2;
    background: #EEE;
}

.video-icon a {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background: var(--ext-white);
    border-radius: 50px;
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    color: #f00;
    font-size: 40px;
}

.btn-wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    opacity: 0;
    z-index: -1;
    background: #ffffff;
}

.btn-wave {
    -webkit-animation: sonarWave 1.5s linear infinite;
    animation: sonarWave 1.5s linear infinite;
}

@-webkit-keyframes sonarWave {
    from {
        opacity: 0.4;
    }
    to {
        -webkit-transform: scale(2);
        transform: scale(2);
        opacity: 0;
    }
}


.ext-heading-wrapper h4::after, .ext-heading-wrapper h4::before{
    background: #B59548;
    content: '';
    width: 15px;
    height: 15px;
    margin: 0 10px;
    border-radius: 50px;
    display: inline-block;
}
.ext-listing ul {
    margin: 0;
    padding: 0;
}

.ext-listing ul li {
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    color: var(--p);
}

.ext-listing ul li span {
    background: url('../imag/check.svg') center/cover no-repeat;
    display: inline-block;
    width: 25px;
    height: 20px;
    margin-left: 5px;
}

.ext-listing ul li p {
    display: inline-block;
    padding-left: 10px;
    width: calc(100% - 30px);
}

.ext-listing ul li span img {
    height: 16px;
}
/*==============================
 	end About
 ==============================*/


/*==============================
 	Start packge
 ==============================*/
.packge{  
    margin: 80px 0;
 }
.packge .card{
    height: 530px;
    min-width: 300px;
    max-width: 350px;
    background: var(--cards);
    border-radius: 7px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    color: var(--color);
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.col-lg:nth-child(2) .card {
    height: 600px !important;
    margin-top: -35px;
}
.line-time{
    position: absolute;
    top: 25px;
    left: -38px;
    background: var(--btn-gold);
    height: 35px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #EEE;
    border: 4px solid #0b0c10;
    transform: rotate(315deg);
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}
.square-up{
    position: absolute;
    top: -15px;
    right: -14px;
    border: 3px solid #9e730b;
    box-shadow: 4px 4px 13px #b3924257;
    height: 80px;
    width: 60px;
    z-index: -1;
}
.square-down{
    position: absolute;
    bottom: -15px;
    left: -14px;
    border: 3px solid #9e730b;
    box-shadow: 4px 4px 13px #b3924257;
    height: 80px;
    width: 60px;
    z-index: -1;
}
.packge .card h4, .packge .card h1{
    text-align: center;
    color: #9e730b;
    padding: 10px 0;
}
.packge h1{
    border-bottom: 1px solid #9e730b5e;
    margin: 20px !important;
}
.packge .card ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 270px;
    overflow-y: scroll;
}
.packge li span{
    background: url('../imag/check.svg') center/cover no-repeat;
    display: inline-block;
    width: 18px;
    height: 13px;
    margin-left: 5px;
}
/*==============================
 	End packge
 ==============================*/

/*==============================
	Responsive
==============================*/
@media (max-width: 1200px) {
    /* packge */
    .col-lg:nth-child(2) .card {
        height: 530px !important;
        margin-top: 0;
    }
}
@media (max-width: 990px) {
    /* header */
    .text-header h1{
        font-size: 35px;
    }
    /* add new */
    .add-new .item{
        margin:0 !important;
        padding: 0;
        height: 570px !important;
    }
    /* about-us */
    .content-about{
        margin-top: 100px;
    }
}
@media (max-width: 740px) {
}
@media (max-width: 670px) {
 
}
@media (max-width: 400px) {
	
}

/*==============================
	End Responsive
==============================*/  