/*----------------------------------------
Project:	beauty

Devloper:	Hady Rabie - Mohamed Salah
----------------------------------------*/
/*----------------------------------------
[Table of contents]

1. dashbord


/*==============================
	start dashbord
==============================*/
header{
	height: 90vh;
    width: 100%;
    overflow-y: auto;
    padding: 0 7px 0 0;
}
header .box{
	min-width: 290px;
}
/*==============================
	end header
==============================*/


/*==============================
	start add-new
==============================*/

/*==============================
	end add-new
==============================*/

/*==============================
 	Start About
 ==============================*/

/*==============================
 	end About
 ==============================*/


/*==============================
 	Start packge
 ==============================*/

/*==============================
 	End packge
 ==============================*/

/*==============================
	Responsive
==============================*/
@media (max-width: 1200px) {

}
@media (max-width: 740px) {
}
@media (max-width: 670px) {
 
}
@media (max-width: 400px) {
	h4, h3{
		font-size: 18px;
	}
	a{
		font-size: 14px;
	}
	span{
		font-size: 14px;
	}
}

/*==============================
	End Responsive
==============================*/  