/*----------------------------------------
Project:	beauty

Devloper:	Hady Rabie - Mohamed Salah
----------------------------------------*/
/*----------------------------------------
[Table of contents]

1. create home


/*==============================
	start create home
==============================*/
header{
    height: 90vh;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 14px 0 8px;
}
.header{
    position: relative;
    max-height: 75vh;
    width: 100%;
    overflow-y: hidden;
    /* background: url('') center/cover fixed no-repeat; */
}

/* wapper img */
.cover{
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  .cover img{
    width: 100%;
    height: 100%;
  }
.flex-header{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    z-index: 2;
    position: sticky;
    justify-content: flex-end;

}
/* text header */
.text-header{    
    display: flex;
    width: 100%;
    height: 100%;
    color: var(--color);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.text-header h1{
    font-size: 50px;
    font-weight: 400;
    margin: 30px 0;
    font-family: 'Droid Sans';

}
.gradient-text {
    background: linear-gradient(
      270deg,
      #b89808,
      #ff9057,
      #ffc764,
      #50e3c2,
      #7d7ba1,
      #b8e986,
      #ff4b59
    );
    background-size: 200%;
    font-size: 40px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient-shift 5s cubic-bezier(0.4, 0, 0.2, 1) infinite alternate;
}

/* Define animation */
@keyframes gradient-shift {
    0% {background-position: 0%;}
    100% {background-position: 100%;}
}
.text-header p{
    color: var(--p);
    max-width: 80%;
}

/* img header */
.img-header{   
    align-items: center;
    width: 34%;
    color: var(--color);
}
.img-header .boxImg{
    display: flex;
    justify-content: flex-end;
}
.img-header img{  
    max-width: 100%; 
    width: auto;
    max-height: 80vh;
    padding: 10px 0;
    animation-name: float;
    animation: float 3s ease infinite;
  }
  @keyframes float {
        0% {transform: translateY(0);}
        50% {transform: translateY(-10px);}
        100% {transform: translateY(0);}
    }

/* edit Input */
.editInput{
    width: 100%;
    border: transparent;
    background: transparent;
    color: #EEE;
    font-size: 22px;
    padding-top: 15px;
    transition: all .5s ease
}
.editInput:hover{
    background: #0000004d;

}
/*==============================
	end create home
==============================*/



/*==============================
	Responsive
==============================*/
@media (max-width: 1200px) {
    
}
@media (max-width: 990px) {
    /* header */
    .text-header h1{
        font-size: 35px;
    }
    .flex-header {
        height: auto;
    }
}
@media (max-width: 740px) {
}
@media (max-width: 670px) {
 
}
@media (max-width: 400px) {
	h4, h3{
		font-size: 18px;
	}
	a{
		font-size: 14px;
	}
	span{
		font-size: 14px;
	}
}

/*==============================
	End Responsive
==============================*/  