/*----------------------------------------
Project:	beauty

Devloper:	Hady Rabie - Mohamed Salah
----------------------------------------*/
/*----------------------------------------
[Table of contents]

1. fonts
2- Common styles
3- Theme Dark & light
4- navbar
5- sidebar
6- loading
7- footer



/*============== Fonts ==============*/
  @font-face {
    font-family: 'Droid Sans';
    src: url('../fonts/Droid.Arabic.Kufi_DownloadSoftware.iR_.ttf') format('truetype'),
}

/*================================== */


/*==============================
	Common styles
==============================*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.btn-danger{
  background: #F00;
  color: #fff;
}
.text-color{
  color: var(--color) !important;
}
.text-color3{
  color: var(--color3) !important;
}
.text-p{
  color: var(--p) !important;
}
.text-gold{
  color: #B59548;
}
.bg-component{
  background-image: var(--component);
}
.btn-hover{
  background: #a099994b;
  padding: 5px;
  width: 35px;
  height: 35px;
}
.column:hover {
  transform: scale(1.1);
}
.btn-delete, .btn-edit, .btn-gold{
  color: #EEE !important;
  border: transparent;
  border-radius: 7px;
  width: 155px;
  height: 45px;
  padding: 0;
  display: flex;
  font-size: 18px;
  transition: all ease .5s;
  align-items: center;
  justify-content: space-between;
}
.btn-gold{
  background-image: var(--btn-gold);
}
.btn-edit{
  background-image: linear-gradient(225deg, #b59548 0%, #9a6d00 100%);
}
.btn-delete{
  background-image: linear-gradient(225deg, #b59548 0%, #FF0000 100%);
}
.btn-gold:hover, .btn-delete:hover, .btn-edit:hover{
    background: #ffffff;
    color: #1f2937 !important;
}
.back{
  background: #00000052;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  display: inline-block;
  padding: 7px 3px;
  width: 38px;
  height: 100%;
}
.back img{
  width: 100%;
  height: 100%;
  padding: 5px;
}
.btn-primary{
  background-color: #833cf4 !important;
  color: #EEE !important;
  transition: all ease .5s;
}
.btn-border-outline{
    background-color: transparent;
    color: var(--color);
    font-weight: 700;
    border: 1px solid var(--border-rbg);
    border-radius: 25px;
    padding: 5px 20px;
    font-size: 20px;
}

select{
  background: #2F2F2F;
  border: none;
  color: var(--color);
  padding: 4px 15px !important;
  border-radius: 2px;
  font-size: 14px;
}
option{
  padding-left: 5px;
}
*:disabled ,button{
    background-color: dimgrey;
    color: #EEE;
    padding: 3px 10px;
    border-radius: 4px;
    border: none;
    opacity: 1;
    cursor: no-drop;
  }
  .invalid-feedback{
    display: block;
    font-size: 12px;
    padding: 5px 0 0 0 !important;
    margin: 0 !important;
    height: auto;
    color: var(--invalid);
}
.ml-3{
    margin-left: 15px;
}

.mr-3{
    margin-right: 15px;
}
svg,a{cursor:pointer !important;}
a {text-decoration: none; color: var(--color);}
ul{
  padding:0 !important; 
	margin: 0 !important;
	list-style: none!important;
}
/* Custom Scroll */
::-webkit-scrollbar {
	width: 5px;
	z-index:2000000
  }
::-webkit-scrollbar-track {
	background: #f1f1f100;
	z-index:2000000
}
::-webkit-scrollbar-thumb {
	background: #130e4300;
	border-radius: 50px;
	min-height:350px;
	z-index:2000000
}
/* owl carousel */
.owl-nav, .owl-dots{
  display: flex;
  justify-content: center;
  font-size: 30px;
}
.owl-dots button{
    margin: 20px 3px;
    border-radius: 50px;
    background: #7c565633 !important;
    height: 12px !important;
    width: 12px !important;
}
.owl-dots .active{
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
  background: radial-gradient(circle, rgb(213 197 255) 0%, rgba(140,156,255,1) 100%) !important;
  height: 12px !important;
  width: 12px !important;
}
.owl-prev ,.owl-next{
  margin: 0 20px !important;
  width: 40px;
  height: 40px;
  display: flex;
  color: var(--p) !important;
  border-radius: 50px;
  border: 1px solid #81585878 !important;
  align-items: center;
  justify-content: center;
}

  .form-control, .form-select {
    background-color: transparent !important;
    border: 1px solid #b18f3d !important;
    border-radius: 5px !important;
    color: var(--p) !important;
}
.form-select option {
  background-color: var(--cards) !important;
  border: 1px solid #b18f3d !important;
  border-radius: 5px !important;
  color: var(--p);
}
/*==============================
Theme Dark & light
==============================*/
:root{
	  --background: #0B0C10;
    --color: #D1BABA;
    --color2: #B59548;
    --color3: #0B0C10;
    --btn-gold: linear-gradient(135deg, #B59548 0%, #9A6D00 100%);
    --button1: linear-gradient(135deg, #9A6D00 0%, #B59548 100%);
    --p: #9099a4;
    --component: linear-gradient(45deg, #1a1a1a 0%, #242018 50%, #1a1a1a 100%);
    --cards: #1A1A1A;
    --wapper: linear-gradient(180deg, #00000079 10%, #0B0C10 100%);
    --gradient1: linear-gradient(139deg, rgb(255, 255, 255)(255, 255, 255, 0.06), rgba(255, 255, 255, .03) 30%, rgba(255, 255, 255, .01) 66%, rgba(255, 255, 255, .07));
    --accordion: #eeeeee69;
    --border-rbg: #03060d;
    --input: #EEE;
    --btn-primary: rgb(43 84 243);
    --invalid: rgb(254, 33, 33);
    --card-payment2: linear-gradient(139deg, rgb(228 232 255), rgb(255 255 255) 30%, rgb(236 241 255) 66%, rgb(228 232 255));
    --card-payment: linear-gradient(0deg, rgb(228 232 255) 0%, rgb(255 255 255) 40%, rgb(236 241 255) 60%, #398cd0 60%, rgb(43 84 243) 100%);
    --imgDark: invert(0);
    --imgLight: invert(1);
    --boxshadow: 3px 3px 6px #00000049;
}

html{
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
}
body {
  	background: var(--background);
    box-sizing: border-box;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    flex-direction: row-reverse;
    font-family: 'Raleway', 'Oswald' , 'Droid Sans' ,'centric';
}

canvas{display: block;}



/* title */
.title{
  width: 100%;
  margin: 35px auto;
  color: var(--color);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.title::after, .title::before{
  background: #B59548;
  content: '';
  width: 15px;
  height: 15px;
  margin: 0 30px ;
  border-radius: 50px;
}
/*==============================
Navbar
==============================*/
nav {
	width: 100%;
	height: 70px;
	/* position: fixed;
  top: 0; */
  background: var(--component);
	padding-top: 10px;
	transition: all 1s;
	z-index: 200;
}
.rowNav{
    max-width: none;
    justify-content: space-between;
    align-items: center;
    margin-left: 0%;
    margin-right: 0%;
    display: flex;
}
/*...... logo .......*/
.logo{
	width: auto;
	font-size: 30px;
	font-weight: bolder;
	color: var(--color)!important;
}
.logo img{
    width: 135px;
    max-width: none;
    min-width: auto;
}
/*...... End logo .......*/

/*......  content nav .......*/
nav .item-nav{
    width: auto;
    color: #7b88a8;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-left: 42px;
    font-size: 15px;
    display: flex;
    position: static;
}
nav .item-nav li a{
	transition: all .2s ease-in;
	color: var(--color);
    width: auto;
    max-width: none;
    white-space: nowrap;
    margin-right: 8px;
    padding: 20px 12px;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 7px;
}
.activeNavBar{
	color: var(--color2) !important;
}
nav .item-nav li:hover .hvr {
	border-bottom: 3px solid var(--yellow);
	color: var(--color);
}

nav .item-nav li:hover a {
	color: #989898 !important;
}
nav .item-nav li:hover .dropdownList {
	display: block;
}
.item-nav li .dropdownList {
    transition: all 2s ease-in-out;
    position: absolute;
    top: 25px;
    right: -75px;    
    width: 194px;
    border-radius: 7px;
    background: var(--input);
    color: var(--color)!important;
    display: none;
    /* overflow: hidden; */
}
.item-nav li .dropdownList a{
	display: block;
    padding: 10px 15px 10px 15px;
    transition: all .3s ease;
}
.item-nav li .dropdownList a:hover{
	  color: #EEE !important;
    background: #00000068 !important;
    margin-right: 0;
    padding: 10px 15px 10px 15px;
}
.dropdown-menu {
  position: absolute;
  z-index: 1000;
  display: none;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0;
  font-size: 1rem;
  color: var(--color);
  text-align: left;
  list-style: none;
  background-color: var(--input);
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 0.25rem;
  inset: 6px 0 auto -75px !important;
}
.dropdown-item:hover {
  color: #1e2125 !important;
  background-color: #e9ecef !important;
}
/* icons navbar */
nav .iconsnav{
	width: 213px;
	display: inline-flex;
	align-items: center;
	justify-content: flex-start;
}
.iconsnav .icon{
	list-style: none;
	color: var(--color);
	display: flex;
	justify-content: space-around;
	/* margin: auto; */
}
/* signUp signIn */
.signUp{
  background-color: #af76f3;
  background: var(--button1);
  color: #EEE;
  padding: 5px 10px;
  border-radius: 7px;
  transition: all .5s ease;
}
.signIn{
    background-color: #241e2e;
    background: var(--button1);
    color: #EEE;
    padding: 5px 10px;
    border-radius: 7px;
    transition: all .5s ease;
}
.signIn:hover, .signUp:hover{
    background: #ffffff;
    color: #492f2f;
}
button{
	background: none;
	color: var(--color) !important;
	border: none;
}
.icon svg{
	text-shadow: 1px 1px 12px #d1c3fb;
	font-size: #f00;
}
.icon svg:hover{
	color: var(--btn-yellow);
}
.icon img{
	height: 22px;
	width: 22px;
}
/* User */
.nav-user{
	width: auto;
	/* overflow: hidden; */
    display: flex;
    align-items: center;
}
.nav-user img{
	height: 35px;
	width: 35px;
    background-color: #EEE;
    border-radius: 50px;
}
/* notification */
.notification-ui_icon {
  position: relative;
}
.notification-ui_icon .unread-notification {
  height: 18px;
  width: 18px;
  font-size: 13px;
  font-weight: 700;
  border-radius: 50px;
  display: flex;
  color: #EEE;
  background: #F00;
  position: absolute;
  top: -10px;
  left: 20px !important;
  justify-content: center;
  align-items: center;
}

@media (min-width: 900px) {
  .notification-ui_icon .unread-notification {
    left: 18px;
  }
}

.notification-ui_dd {
  padding: 0;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 20px -3px rgba(0, 0, 0, 0.16);
  box-shadow: 0 5px 20px -3px rgba(0, 0, 0, 0.16);
  border: 0;
  max-width: 400px;
  right: 0px !important;
  top: 70px !important;
  /* background-color: #1A1A1A;
  background-image: linear-gradient(45deg, #0B0C10 0%, #1A1A1A 50%, #0B0C10 100%) !important; */
}
@media (max-width: 900px) {
  .notification-ui_dd {
      min-width: 100%;
      max-width: 100%;
  }
}

.notification-ui_dd:after {
  content: "";
  position: absolute;
  top: -28px;
  left: calc(80% - 7px);
  border-top: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #fff;
  border-left: 15px solid transparent;
}

.notification-ui_dd .notification-ui_dd-header {
  border-bottom: 1px solid #ddd;
  padding: 15px;
  color: #000000;
}

.notification-ui_dd .notification-ui_dd-header h3 {
  margin-bottom: 0;
}

.notification-ui_dd .notification-ui_dd-content {
  max-height: 500px;
  overflow: auto;
}

.notification-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  padding: 20px 0;
  margin: 0 !important;
  border-bottom: 1px solid #ddd;
  transition: all 1s ease;
  cursor: pointer;
}

.notification-list:hover {
  background: var(--color2);
  color: #EEE !important;
}

.notification-list--unread {
  position: relative;
}

.notification-list--unread:before {
  content: "";
  position: absolute;
  top: 0;
  left: -25px;
  height: calc(100% + 1px);
  border-left: 2px solid #29B6F6;
}

.notification-list .notification-list_img img {
  height: 48px;
  width: 48px;
  border-radius: 50px;
  margin: 0 20px;
}

.notification-list .notification-list_detail p {
  margin-bottom: 5px;
  line-height: 1.2;
  text-align: right;
  transition: all .5s ease;
}
.notification-list:hover p {
  color: #eee7e7 !important;
}
/*==============================
	End Navbar
==============================*/



/*==============================
	aside
==============================*/
.sidebar {
  max-width: 280px;
  height: 100vh;
  padding: 1rem;
  overflow-x: hidden;
  overflow-y: scroll;
  background: var(--component);
  transition: all .5s ease;
}

.toggleSlide{
    max-width: 1px !important;
    height: 100vh;
    padding: 0 !important;
    opacity: 0;
}
@media (max-width: 910px) {
    
aside{
    max-width: 280px;
    height: 100vh;
    padding: 1rem;
    overflow-x: hidden;
    overflow-y: scroll;
    background: var(--component);
    transition: all .5s ease;
    position: absolute;
    right: -100%;
    z-index: 11;
}
.toggleSlide{
    max-width: 280px !important;
    height: 100vh;
    padding: 0 !important;
    opacity: 1;
    position: absolute;
    right: 0%;
}
}
.sidebar::after {
  content: "";
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  height: auto;
}

.sidebar-logo {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  column-gap: .5rem;
}

 .logo img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: top;
  margin: auto;
  border-radius: 100px;
}
.sidebar .logo span {
  font-size:18px;
  margin-top:20px;
}
.accordion button{
  background: #302929ae;
  padding: 10px 20px;
  border-radius: 5px;
  width: 100%;
}
.accordion ul li {
  background: #302929ae;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 5px;
  width: 100%;
}
.accordion-button::after {
  filter: var(--imgLight);
  margin-right: auto !important;
  margin-left: inherit !important;
}
.accordion-button:not(.collapsed) {
  background-color: #535353;
}

aside ul .active{
  background: #6E3AFF !important;
  box-shadow: 3px 3px 11px #f2c5ff5e;
  border-radius: 5px;
}
/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 300px) {
  .sidebar {
    width: 232px;
    padding-inline: 1rem;
  }
  .sidebar-account {
    flex-direction: column;
    row-gap: .5rem;
    text-align: center;
  }
  .sidebar-account i {
    margin: 0;
  }
}

/*==============================
	End aside
==============================*/

/*==============================
	Loading
==============================*/

.loading-up,#loadingOverlay{
	display: flex;
    align-items: center;
    justify-content: center;
    background: var(--dark-light);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border: 0;
    z-index: 10000000;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate2 {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
	width: 250px;
    height: 250px;
    display: block;
    overflow: hidden;
}

.loader div {
  height: 100%;
}
.loading-up span{
	box-shadow: 0px 0px 25px #ac89ff;
    height: 10px;
    width: 10px;
    display: inline-block;
    margin: auto;
    padding: 17px;
    background: #b9a1f1;
    border-radius: 50px;
}
/* loader 1 */
.loader1, .loader1 div {
	border-radius: 50%;
    padding: 20px;
    border: 2px solid transparent;
    animation: rotate linear 4s infinite;
	border-top-color: rgb(135 127 255);
    border-bottom-color: rgb(0 0 255);
    
}



/*==============================
	Footer
==============================*/

/*--
/*  25.1 - Footer Widget CSS
/*----------------------------------------*/
.footer-widget-wrap {
  padding-top: 70px;
  padding-bottom: 75px;
}

.footer-widget {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.widget-info {
  padding-top: 20px;
}

.widget-info ul {
  padding:0
}
.widget-info ul li {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  margin-top: 10px;
}

.widget-info ul li .info-icon i {
  display: inline-block;
  color: #086ad8;
  font-size: 18px;
  margin-right: 10px;
  margin-top: 2px;
}
footer .info-icon{
  width: 35px;
  height: 35px;
  display: flex;
  background: #000000bd;
  color: #EEE;
  border-radius: 50px;
  align-items: center;
  justify-content: center;
}

.widget-info ul li .info-text {
  font-size: 16px;
  line-height: 20px;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  color: var(--color);
  margin: 0 20px
}

.widget-info ul li .info-text i {
    display: inline-block;
    color: rgb(8, 106, 216);
    font-size: 18px;
    margin-right: 10px;
    margin-top: 2px;
  }
  
.footer-widget-about {
  color: var(--color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.footer-widget-about p {
  font-size: 14px;
  line-height: 30px;
  color: var(--p);
  /* padding-right: 110px; */
  margin-top: 20px;
}

@media only screen and (max-width: 1399px) {
  .footer-widget-about p {
    padding-right: 0;
  }
}

.footer-social .social {
  margin-top: 25px !important;
  width: 180px;
  display: flex;
  justify-content: space-between;
}

.footer-social .social li {
  display: inline-block;
}


.footer-social .social li a {
  width: 35px;
  height: 35px;
  display: inline-block;
  line-height: 37px;
  text-align: center;
  border-radius: 7px;
  font-size: 22px;
  color: #ffffff;
  background: #4e4e4e6e;
  transition: all .5s ease;
}

.footer-social .social li a:hover {
  color: #000000;
  background: #EEE;
}

.footer-widget .footer-widget-title {
  font-size: 20px;
  font-weight: 600;
  color: var(--color);
}
.widget-link .link {
  margin: 0;
  padding: 0;
}
.widget-link .link li {
  margin-top: 7px;
  display: flex;
  justify-content: space-between;
  width: 140px;
}
.widget-link .link li a {
  font-size: 14px;
  color: var(--p);
  transition: all 0.3s linear;
}

.widget-link .link li a:hover {
  color: #086ad8;
  padding-left: 10px;
}

.footer-section-02 .footer-social .social li a {
  color: #ff5538;
}

.footer-section-02 .footer-social .social li a:hover {
  color: #ff5538;
}

.footer-section-02 .widget-link {
  padding-top: 22px;
}

.footer-section-02 .widget-link .link li a:hover {
  color: #ff5538;
}

.footer-section-02 .widget-info ul li .info-icon i {
  color: #ff5538;
}

.footer-section-02 .widget-info ul li .info-text a:hover {
  color: #ff5538;
}

.footer-section-04 .footer-widget-about p {
  color: #0e0e0e;
}

.footer-section-04 .footer-widget .footer-widget-title {
  color: var(--color);
}

.footer-section-04 .widget-link {
  padding-top: 22px;
}

.footer-section-04 .widget-link .link li a {
  color: var(--color);
}

.footer-section-04 .widget-link .link li a:hover {
  color: #086ad8;
}

.footer-section-04 .widget-info ul li .info-text {
  color: #0e0e0e;
}

.footer-section-05 .footer-social .social li a {
  color: #11ddf5;
}

.footer-section-05 .footer-social .social li a:hover {
  color: #11ddf5;
}

.footer-section-05 .widget-link {
  padding-top: 22px;
}

.footer-section-05 .widget-link .link li a:hover {
  color: #11ddf5;
}

.footer-section-05 .widget-info ul li .info-icon i {
  color: #11ddf5;
}

.footer-section-05 .widget-info ul li .info-text a:hover {
  color: #11ddf5;
}

.footer-section {
  background: var(--component);
  background: url('../imag/footer-bg.jpg') center/cover fixed no-repeat;
}

.footer-logo {
  max-width: 170px;
  filter: var(--imgLight);
}
.footer-logo img{
  max-width: 100%;
}
.footer-copyright-area {
  border-top: 1px solid #60688236;
}

.copyright-text {
  margin-top: 15px;
}

@media only screen and (max-width: 767px) {
  .copyright-text {
    text-align: center;
  }
  .widget-link .link li {
    width: 100%;
  }
  footer .btn-gold {
    width: 100% !important;
    height: 50px !important;
    padding-left: 40% !important;
    font-size: 25px!important;
}
}

.copyright-text p {
  font-size: 14px;
  color: var(--color);
}

.footer-section-02 {
  background: #000000;
}

.footer-section-02 .footer-widget-wrap {
  padding-top: 130px;
}

.footer-section-04 .footer-copyright-area {
  border-top: 1px solid #e0e0e0;
}

.footer-section-04 .copyright-text p {
  font-size: 14px;
  color: var(--p);
}

.progress-wrap {
  position: fixed;
  right: 50px;
  bottom: 50px;
  height: 45px;
  width: 45px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  box-shadow: inset 0 0 0 2px rgba(0, 93, 224, 0.2);
  opacity: 0;
  visibility: hidden;
  transform: translateX(130%);
  z-index: 99;
  transition: all 200ms linear;
}

.progress-wrap::after {
  position: absolute;
  content: "\f108";
  font-family: flaticon !important;
  text-align: center;
  line-height: 45px;
  font-size: 18px;
  color: #086ad8;
  left: 0;
  top: 0;
  height: 46px;
  width: 46px;
  transform: rotate(90deg);
  cursor: pointer;
  display: block;
  z-index: 1;
}

.progress-wrap svg path {
  fill: none;
}

.progress-wrap svg.progress-circle path {
  stroke: #086ad8;
  stroke-width: 4;
  box-sizing: border-box;
}

.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

.progress-wrap-3 {
  box-shadow: inset 0 0 0 2px rgba(255, 85, 56, 0.2);
}

.progress-wrap-3::after {
  color: #ff5538;
}

.progress-wrap-3 svg.progress-circle path {
  stroke: #ff5538;
}
